html {
  margin: 0;
  padding: 0;
  background: #eaeaea;
  min-height: 100vh;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-size: 1.2em;
  color: #000000;
}

.main-content {
  padding: 1em;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  margin: 1em 0;
}

.standard_button_styling, .record_navigation input[type=submit], a.button, input.button {
  border: 1px solid black;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.25em;
  text-decoration: none;
  background-color: white;
  color: black;
  box-shadow: 5px 5px 5px #999999;
}

a.button:hover, input.button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

input {
  padding: 0.5em;
  font-size: 1.25em;
  margin-bottom: 1em;
}

select {
  font-size: 1.1em;
  width: 400px;
  margin-bottom: 1em;
}

input[type=color] {
  width: 375px;
}

input[type=text] {
  width: 375px;
}

input[type=number] {
  width: 375px;
}

input.button {
  background-color: #99ff99;
  margin-left: 46.5%;
  display: inline-block;
  width: 100px;
  text-align: center;
  margin-bottom: 1em;
}

div.buggy_form {
  display: block;
  text-align: center;
  font-size: 0.9em;
}

.new_buggy_form {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

label {
  display: inline-block;
  width: 300px;
  text-align: center;
  font-size: 1.2em;
}

.nav_buttons {
  display: block;
  text-align: center;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0 0 2em 0;
}

table td, table th {
  padding: 0.25em;
  border: 1px solid #999;
  padding: 0.5rem;
}

.spacer {
  display: block;
  margin: 3em auto 3em auto;
  text-align: center;
}

.spacer p {
  width: 50%;
  display: block;
  margin: 3em auto 3em auto;
  text-align: center;
}

.buggy_list {
  text-align: center;
  font-size: 0.7em;
}

.record_navigation {
  border-right-style: hidden;
  border-top-style: hidden;
  border-bottom-style: hidden;
  font-size: 0.8em;
}
.buggy_graphic_button {
  font-size: 1em;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.spacer_left {
  display: inline-block;
  float: left;
  width: 50%;
}

.spacer_right {
  display: inline-block;
  float: right;
  width: 50%;
}

.account_form_container {
  text-align: center;
}
.account_form_container input[type=text] {
  width: 250px;
}
.account_form_container input[type=password] {
  width: 250px;
}
.account_form_container button {
  background-color: #99ff99;
  display: block;
  width: 100px;
  text-align: center;
  font-size: 1.25em;
  border: solid black;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}
.account_form_container button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.flash_alert_container {
  margin-right: 17%;
  margin-left: auto;
  display: inline-block;
  padding: 2px;
  text-align: center;
}
.flash_alert_container .flash_alert {
  min-width: 600px;
  background-color: rgba(255, 0, 0, 0.6);
  display: inline-block;
  float: left;
  text-align: center;
}
.flash_alert_container .flash_close {
  display: inline-block;
  float: right;
  margin-left: 20px;
  cursor: pointer;
}

header {
  background-color: #ffe66f;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: right;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
header a {
  text-decoration: none;
  padding-right: 1em;
}
header a:visited {
  color: black;
}

/*# sourceMappingURL=stylesheet.css.map */
