<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="static/stylesheet.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="static/favicon.ico" type="image/x-icon">
        <title>Buggy Race Editor</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script>
            function delete_flash(flash){
                $(flash).parent().remove()
            }
        </script>
    </head>
    <header>
        <div class="header_banner">
            <div class="flash_alert_container">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="flash_alert alert-warning alert-dismissible" role="alert">
                                <button type="button" class="flash_close" onclick=delete_flash(this)>X</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <a href="{{ url_for('main.home') }}" class="header_link">Home</a>
            {% if not current_user.is_authenticated %}
                <a href="{{ url_for('auth.login') }}" class="header_link">Login</a>
                <a href="{{ url_for('auth.signup') }}" class="header_link">Signup</a>
            {% endif %}
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.logout') }}" class="header_link">Logout</a>
            {% endif %}

        </div>
    </header>
    <body>
        <div class="main-content">

            {% block content %}{% endblock %}

        </div>
    </body>
</html>