<!doctype html>

{% extends "base.html" %}

{% block content %}

    <h1 class="title">Buggy Construction</h1>
    <div class="buggy_form">
        <form action="/new" method="post" class="new_buggy_form">
        <!-- TODO create some form of tooltip for hints about formatting in entry boxes-->
        <!-- TODO use spin and radioboxes to create entries that require less testing to ensure theyre correct-->

            <label for="qty_wheels">Number of wheels:</label>
            <input required title="qty_wheels" type="number" name="qty_wheels" placeholder="4" min="4" step="2" value={{value_fills[0]}}>

            <label for="armour">Type of Armour</label>
            <select name="armour" class="select_form">
                {% for i in [["None","none"], ["Wood","wood"], ["Aluminium","aluminium"], ["Thin Steel","thinsteel"], ["Thick Steel","thicksteel"], ["Titanium","titanium"]] %}
                    {% if value_fills[11] == i[1] %}
                        <option selected="selected" value={{i[1]}}>{{i[0]}}</option>
                    {% else %}
                        <option value={{i[1]}}>{{i[0]}}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <br>

            <label for="tyres">Type of Tyres</label>
            <select name="tyres" class="select_form">
                {% for i in [["Knobbly","knobbly"], ["Slick","slick"], ["Steel Band","steelband"], ["Reactive","reactive"], ["Maglev","maglev"]] %}
                    {% if value_fills[9] == i[1] %}
                        <option selected="selected" value={{i[1]}}>{{i[0]}}</option>
                    {% else %}
                        <option value={{i[1]}}>{{i[0]}}</option>
                    {% endif %}
                {% endfor %}

            </select>

            <label for="qty_tyres">Number of tyres:</label>
            <input required title="qty_tyres" type="number" name="qty_tyres" min="4" value="{{value_fills[10]}}">

            <br>

            <label for="power_type">Primary motive power:</label>
            <select name="power_type" class="select_form">
                {% for i in [['petrol','Petrol'],['fusion','Fusion Reactor'],['steam','Steam Engine'],['bio','Bio-fuelled internal combustion engine'],['electric','Lithium-Ion battery'],['rocket','Rocket Fuel'],['hamster','Hamster'],['thermo','Thermonuclear Reactor'],['solar','Bank of Solar Panels'],['wind','Sailing Rig']] %}
                    {% if value_fills[1] == i[0] %}
                        <option selected="selected" value={{i[0]}}>{{i[1]}}</option>
                    {% else %}
                        <option value={{i[0]}}>{{i[1]}}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <label for="power_units">Primary motive power units:</label>
            <input required type="number" name="power_units" min="1" value={{value_fills[2]}}>

            <br>

            <label for="aux_power_type">Auxilliary motive power:</label>
            <select name="aux_power_type" class="select_form">
                {% for i in [['none','None'],['petrol','Petrol'],['fusion','Fusion Reactor'],['steam','Steam Engine'],['bio','Bio-fuelled internal combustion engine'],['electric','Lithium-Ion battery'],['rocket','Rocket Fuel'],['hamster','Hamster'],['thermo','Thermonuclear Reactor'],['solar','Bank of Solar Panels'],['wind','Sailing Rig']] %}
                    {% if value_fills[3] == i[0] %}
                        <option selected="selected" value={{i[0]}}>{{i[1]}}</option>
                    {% else %}
                        <option value={{i[0]}}>{{i[1]}}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <label for="aux_power_units">Auxillery motive power units:</label>
            <input required type="number" name="aux_power_units" min="0" value={{value_fills[4]}}>

            <br>

            <label for="flag_color_primary">Flag's primary colour:</label>
            <input type="color" name="flag_color_primary" value={{value_fills[6]}}>

            <label for="power_units">Flag's secondary colour:</label>
            <input type="color" name="flag_color_secondary" value={{value_fills[7]}}>

            <br>

            <label for="flag_pattern">Flag's pattern:</label>
            <select name="flag_pattern" class="select_form">
                {% for i in [['plain','Plain'],['vstripe','Vertical Stripes'],['hstripe','Horizontal Stripes'],['dstripe','Diagonal Stripes'],['checker','Checkered'],['spot','Spots'],] %}
                    {% if value_fills[8] == i[0] %}
                        <option selected="selected" value={{i[0]}}>{{i[1]}}</option>
                    {% else %}
                        <option value={{i[0]}}>{{i[1]}}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <label>Race computer algorithm</label>
            <select name="algo" class="select_form">
                {% for i in [['steady','Steady'],['defensive','Defensive'],['offensive','Offensive'],['titfortat','Tit for Tat'],['random','Random']] %}
                    {% if value_fills[18] == i[0] %}
                        <option selected="selected" value={{i[0]}}>{{i[1]}}</option>
                    {% else %}
                        <option value={{i[0]}}>{{i[1]}}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <br>

            <label for="attack">Offensive capability</label>
            <select name="attack">
                {% for i in [['none','None'],['spike','Spike'],['flame','Flame'],['charge','Charge'],['biohazard','Biohazard']] %}
                    {% if value_fills[12] == i[0] %}
                        <option selected="selected" value={{i[0]}}>{{i[1]}}</option>
                    {% else %}
                        <option value={{i[0]}}>{{i[1]}}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <label for="qty_attack">Number of attacks</label>
            <input type="number" value="0" name="qty_attacks" value="{{value_fills[13]}}">

            <br>

            <label for="attack">Fireproof?</label>
            <select name="fireproof">
                {% for i in [['true','True'],['false','False']] %}
                    {% if value_fills[14] == i[0] %}
                        <option selected="selected" value={{i[0]}}>{{i[1]}}</option>
                    {% else %}
                        <option value={{i[0]}}>{{i[1]}}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <label for="attack">Insulated?</label>
            <select name="insulated">
                {% for i in [['true','True'],['false','False']] %}
                    {% if value_fills[15] == i[0] %}
                        <option selected="selected" value={{i[0]}}>{{i[1]}}</option>
                    {% else %}
                        <option value={{i[0]}}>{{i[1]}}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <br>

            <label for="attack">Antibiotic?</label>
            <select name="antibiotic">
                {% for i in [['true','True'],['false','False']] %}
                    {% if value_fills[14] == i[0] %}
                        <option selected="selected" value={{i[0]}}>{{i[1]}}</option>
                    {% else %}
                        <option value={{i[0]}}>{{i[1]}}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <label for="attack">Banging Sound System?</label>
            <select name="banging">
                {% for i in [['true','True'],['false','False']] %}
                    {% if value_fills[14] == i[0] %}
                        <option selected="selected" value={{i[0]}}>{{i[1]}}</option>
                    {% else %}
                        <option value={{i[0]}}>{{i[1]}}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <br>

            <label for="hamster_booster">Hamster Booster?</label>
            <input type="number" name="hamster_booster" min="0"value="{{ value_fills[5]}}">

            <br>
            <input type="submit" class="button">
        </form>
    </div>
    <div class="nav_buttons">
        <a href="/" class="button">Home</a>
    </div>
{% endblock %}
