{% extends "base.html" %}

{% block content %}

    <h1>List of Buggies</h1>

    <table class="buggy_list">
        <tr>
            <td>ID</td>
            <td>Number of Wheels</td>
            <td>Primary Motive Power</td>
            <td>Power Units</td>
            <td>Auxillary Motive Power</td>
            <td>Auxillary Power Units</td>
            <td colspan="2">Flag Primary Colour</td>
            <td colspan="2">Flag Secondary Colour</td>
            <td>Flag Pattern</td>
        </tr>
        {% for record in buggy %}
            <tr>
                {% for entry in record %}
                    {% if entry == record[6] or entry==record[7] %}
                        <td style="background-color: {{ entry }}"></td>
                        <td>{{ entry }}</td>
                    {% else %}
                        <td>{{ entry }}</td>
                    {% endif %}
                {% endfor %}
            <td class="record_navigation"><input type="submit" name="modify" value="Modify"></td>
            <td class="record_navigation"><input type="submit" name="delete" value="Delete"></td>
            </tr>
        {% endfor %}
    </table>

    <p>
        <a href="/" class="button">Home</a>
    </p>

{% endblock %}
