{% extends "base.html" %}

{% block content %}

    <h1>List of Buggies</h1>

    <table class="buggy_list">
        <tr>
            <td>ID</td>
            <td>Number of Wheels</td>
            <td>Primary Motive Power</td>
            <td>Power Units</td>
            <td>Auxillary Motive Power</td>
            <td>Auxillary Power Units</td>
            <td>Hamster Booster</td>
            <td colspan="2">Flag Primary Colour</td>
            <td colspan="2">Flag Secondary Colour</td>
            <td>Flag Pattern</td>
            <td>Type of Tyre</td>
            <td>Number of Tyres</td>
            <td>Armour</td>
            <td>Offencive Capability</td>
            <td>Number of Attacks</td>
            <td>Fireproof?</td>
            <td>Insulated?</td>
            <td>Antibiotic</td>
            <td>Banging Sound System</td>
            <td>Race Computer Algorithm</td>
            <td>Total Buggy Cost (unit/kg)</td>
        </tr>
        {% for record in buggy %}
            <tr>
                {% for entry in record %}
                    {% if entry == record[7] or entry==record[8] %}
                        <td style="background-color: {{ entry }}"></td>
                        <td>{{ entry }}</td>
                    {% elif entry == record[9] %}
                        <td>
                            {{ entry }}
                            <form action="/buggy" method="post">
                                <input type="submit" class="buggy_graphic_button" value="graphic" name='{{ record[0] }}'>
                            </form>
                            <!-- <a href="/graphic" onClick="MyWindow=window.open('/graphic','MyWindow','width=500,height=500'); return false;">View</a> -->
                        </td>
                    {% else %}
                        <td>{{ entry }}</td>
                    {% endif %}
                {% endfor %}
                <form action="/buggy" method="post">
                    <td class="record_navigation"><input type="submit" value="Modify" name='{{ record[0] }}'></td>
                    <td class="record_navigation"><input type="submit" value="Delete" name={{record[0]}}></td>
                </form>
            </tr>
        {% endfor %}
    </table>

    <p>
        <a href="/" class="button">Home</a>
    </p>

{% endblock %}
