{% extends "base.html" %}

{% block content %}

    <h1 class="title" id="index">Buggy Editor</h1>
    <h2 class="welcome">Welcome {{ name }}</h2>
    <div class="spacer_right">
    <img src="static/buggy_2.png" width="450" height="307">
    </div>
    <div class="spacer_left">
        <a href="/new" class="button">Make buggy</a>
        <br>
        <a href="/buggy" class="button">Show/Manage buggy</a>
        <br>
        <a href="{{ server_url }}" class="button">Race Server</a>
        <br>
        <a href="/poster" class="button">Project Poster</a>
        <br>
        <a href="/results" class="button">Race Results</a>
        <br>
        {% if current_user.is_authenticated %}
            <a href="/personal" class="button">Manage Account</a>
        {% endif %}
        <br>
        {% if is_admin == 1 %}
            <a href="/manage" class="button">Manage Users</a>
        {% endif %}
    </div>
{% endblock %}
